html
{
    padding:0;
    margin:0;
}
h1
{
    font-family: arial;
    font-size: 20px;
}
h2
{
    font-family: arial;
    font-size: 17px;
    padding-left:10px;
}
h3
{
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding-left:10px;
}
table
{
    margin-left:15px;
    
}
p, dt, dd
{
	font-family:tahoma;
}
p
{
    font-size:12px;
    color:#333333;
    padding-left:12px;
    margin-top:-10px;
    width:500px;
}
.blog_date
{
	font-size:10px;
	font-weight:bold;
    color:#333333;
    padding-left:20px;
    width:500px;
}
.under_meny
{
	margin-top:3px;
}
li
{
	font-family:tahoma;
    font-size:12px;
    color:black;
}
.underline_list dt
{
	padding-left:15px;
	font-size:13px;
	font-weight:bold;
}

.underline_list dd
{
	font-size:13px;
	text-decoration:underline
}